<%= render 'layouts/flash_messages' %>

<%= link_to 'Ver datos', :home_index %>

<%= form_tag(:add_data_home_index, multipart: true) do %>
  <div>
      <%= label_tag 'file', 'Archivo (.tsv)' %>
      <%= file_field_tag 'file', required: true %>
  </div>
  <div>
      <%= submit_tag 'Importar!' %>
  </div>
<% end %>